[submodule "CS-Homework"]
	path = CS-Homework
	url = https://github.com/ITStep-Homework/CS-Homework
[submodule "CS-Homework-6"]
	path = CS-Homework-6
	url = https://github.com/ITStep-Homework/CS-Homework-6
[submodule "CS-Homework-7"]
	path = CS-Homework-7
	url = https://github.com/ITStep-Homework/CS-Homework-7
[submodule "CS-Homework-8"]
	path = CS-Homework-8
	url = https://github.com/ITStep-Homework/CS-Homework-8
[submodule "CS-Homework-9"]
	path = CS-Homework-9
	url = https://github.com/ITStep-Homework/CS-Homework-9
